
.sliderItem {
    width: 100%;
    height: 500px;
}


.sliderItemImage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.recommendationRow {
    display: flex !important;
    overflow: none;
}

.popularArtistsRow {
    display: flex !important;
    overflow: none;
}

.categoryCardHeader {
    display: flex;
    align-items: center;
}